<div class="scanner-center">
  <ngx-scanner-qrcode #action [config]="{ isBeep: false }" (event)="handleScan($event)"></ngx-scanner-qrcode>

  <ion-select label="Camera" placeholder="default" (ionChange)="changeDevice($event)" class="ion-padding">
    <ion-select-option [value]="null">Select device</ion-select-option>
    @for (c of action.devices.value; track c.deviceId; let i = $index) {
    <ion-select-option [value]="c.deviceId">{{c.label}}</ion-select-option>
    }
  </ion-select>

  <ion-select label="Decoding" placeholder="default" (ionChange)="changeDecoding($event)" class="ion-padding">
    <ion-select-option value="utf-8">UTF-8</ion-select-option>
    <ion-select-option value="iso-8859-15">ISO-8859-15</ion-select-option>
    <ion-select-option value="windows-1252">Windows-1252</ion-select-option>
    <ion-select-option value="macintosh">Macintosh</ion-select-option>
  </ion-select>

  <ion-button fill="clear" expand="block" color="danger" (click)="close()">Cancel</ion-button>
</div>