<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Scan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-button (click)="modal.present()" expand="block" fill="clear">Scan</ion-button>

  @if (scan(); as scan) {
  <app-scan-card [scan]="scan" (removed)="removed()" />
  }

  <ion-modal #modal>
    <ng-template>
      <ion-content>
        <app-cam (finished)="process($event);modal.dismiss();" />
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>