<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-textarea label="Message" labelPlacement="floating" [(ngModel)]="message" [counter]="true" [autofocus]="true"
    maxlength="2331" rows="10"></ion-textarea>
  <div class="d-flex ion-justify-content-between">
    <ion-button fill="clear" [disabled]="!message" color="danger" (click)="message = ''">Clear</ion-button>
    <ion-button fill="clear" slot="end" [disabled]="!message" color="success"
      (click)="save();toast.present();">Save</ion-button>
  </div>
  <ion-button (click)="modal.present()" [disabled]="!message" expand="block" fill="clear">Open</ion-button>
  <ion-modal #modal>
    <ng-template>
      <ion-content (click)="modal.dismiss()">
        <div class="qr-center">
          <qrcode [qrdata]="message" [width]="width" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-toast #toast message="Message saved!" position="top" [duration]="1000"></ion-toast>
</ion-content>